.taskMenuTitle {
    cursor: pointer;
}

.boardTaskList li {
    margin-right: 10px;
 }

.boardTaskList {
    display: flex;
 }

.taskNavBar {
    margin-bottom: 15px;
    display: flex;
}
.card-footer-like {
    float: left;
}

.card-header, .card-body {
    text-align: left;
}
