div .modal-content {
	background: #F5F5F5;
	width: 400px;
}

div .modal-content .modal-body {
	background: #F5F5F5;
}

#exampleFormControlTextarea1 {
	background: rgba(0,0,0,.03);
	box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
	min-height: 50px;
	border-color: rgba(0,0,0,.15);
	resize: none;
	margin-bottom: 8px;
}

.modal-icon {
	margin-right: 10px;
	float: left;
}

.important-first {
	background-color: #9ACD32;
	border-radius: 5px;
}

.important-second {
	background-color: #00BFFF;
	border-radius: 5px;
}

.important-third {
	background-color: #FF4500;
	border-radius: 5px;
}